<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CommercialMagDB" connectionString="Server=.;Database=CommercialMagDB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="OfflineSyncEnabled" value="true" />
    <add key="SyncApiBaseUrl" value="http://localhost:5080/" />
    <add key="OfflineSyncIntervalSeconds" value="120" />
    <add key="BackupEnabled" value="true" />
    <add key="BackupIntervalMinutes" value="240" />
    <add key="BackupFolder" value="" />
    <add key="BackupBeforeExit" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
