USE [master]
GO
/****** Object:  Database [CommercialMagDB]    Script Date: 15/05/2026 05:06:38 ******/
CREATE DATABASE [CommercialMagDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommercialMagDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CommercialMagDB.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CommercialMagDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CommercialMagDB_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommercialMagDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommercialMagDB]
GO
/****** Object:  Table [dbo].[Banque]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banque](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeOperation] [nvarchar](50) NOT NULL,
	[Montant] [decimal](18, 2) NOT NULL,
	[Devise] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DateOperation] [date] NOT NULL DEFAULT (CONVERT([date],getdate())),
	[Reference] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BonApprovisionnementLignes]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonApprovisionnementLignes](
	[BonLigneId] [int] IDENTITY(1,1) NOT NULL,
	[BonId] [int] NOT NULL,
	[ProduitId] [int] NOT NULL,
	[Quantite] [decimal](18, 2) NOT NULL,
	[PrixAchat] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[PrixAchatPrecedent] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[TotalLigne] [decimal](18, 2) NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[BonLigneId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BonApprovisionnementSequence]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BonApprovisionnementSequence](
	[Annee] [char](4) NOT NULL,
	[DernierNumero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Annee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BonsApprovisionnement]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BonsApprovisionnement](
	[BonId] [int] IDENTITY(1,1) NOT NULL,
	[DateCreation] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[Statut] [nvarchar](30) NOT NULL DEFAULT ('OUVERT'),
	[FournisseurId] [int] NULL,
	[TypePaiement] [nvarchar](30) NULL,
	[CreePar] [int] NOT NULL,
	[NumeroBon] [nvarchar](20) NULL,
	[ModifierPar] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[BonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoriesDepenses]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesDepenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsSystem] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CategoriesProduits]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriesProduits](
	[CategorieId] [int] IDENTITY(1,1) NOT NULL,
	[NomCategorie] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategorieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[NomClient] [nvarchar](200) NOT NULL,
	[Telephone] [nvarchar](50) NULL,
	[Email] [nvarchar](120) NULL,
	[Adresse] [nvarchar](300) NULL,
	[LimiteCredit] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[EstActif] [bit] NOT NULL DEFAULT ((1)),
	[ModifierPar] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CloturesJournalieres]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CloturesJournalieres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCloture] [date] NOT NULL,
	[MontantTransfertFC] [decimal](18, 2) NULL DEFAULT ((0)),
	[MontantTransfertUSD] [decimal](18, 2) NULL DEFAULT ((0)),
	[EffectueLe] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DateCloture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Depenses]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categorie] [nvarchar](100) NOT NULL,
	[Montant] [decimal](18, 2) NOT NULL,
	[Devise] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DateDepense] [date] NOT NULL DEFAULT (CONVERT([date],getdate())),
	[Source] [nvarchar](20) NOT NULL,
	[TypeDepense] [nvarchar](30) NOT NULL,
	[CreePar] [nvarchar](80) NULL,
	[CreatedAt] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FactureSequence]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FactureSequence](
	[AnneeMois] [char](6) NOT NULL,
	[DernierNumero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnneeMois] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FacturesFournisseurs]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturesFournisseurs](
	[FactureFournisseurId] [int] IDENTITY(1,1) NOT NULL,
	[FournisseurId] [int] NOT NULL,
	[ReferenceFacture] [nvarchar](100) NOT NULL,
	[DateFacture] [date] NOT NULL,
	[MontantTotal] [decimal](18, 2) NOT NULL,
	[CreePar] [int] NOT NULL,
	[CreeLe] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FactureFournisseurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FacturesVente]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacturesVente](
	[FactureVenteId] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFacture] [nvarchar](50) NOT NULL,
	[ClientId] [int] NULL,
	[SousTotal] [decimal](18, 2) NOT NULL,
	[MontantRemise] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[MontantTaxe] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[MontantTotal] [decimal](18, 2) NOT NULL,
	[Statut] [nvarchar](30) NOT NULL,
	[CreePar] [int] NOT NULL,
	[CreeLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[ValideLe] [datetime2](7) NULL,
	[ModifierPar] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[FactureVenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroFacture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Fournisseurs]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fournisseurs](
	[FournisseurId] [int] IDENTITY(1,1) NOT NULL,
	[NomFournisseur] [nvarchar](200) NOT NULL,
	[Telephone] [nvarchar](50) NULL,
	[Email] [nvarchar](120) NULL,
	[Adresse] [nvarchar](300) NULL,
	[EstActif] [bit] NOT NULL DEFAULT ((1)),
	[ModifierPar] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[FournisseurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoriquePrixProduits]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoriquePrixProduits](
	[HistoriquePrixId] [int] IDENTITY(1,1) NOT NULL,
	[ProduitId] [int] NOT NULL,
	[AncienPrixDetail] [decimal](18, 2) NOT NULL,
	[NouveauPrixDetail] [decimal](18, 2) NOT NULL,
	[AncienPrixGros] [decimal](18, 2) NOT NULL,
	[NouveauPrixGros] [decimal](18, 2) NOT NULL,
	[ModifiePar] [int] NOT NULL,
	[ModifieLe] [datetime2](7) NOT NULL,
	[IdStock] [nvarchar](30) NULL,
	[AncienPrixAchat] [decimal](18, 2) NOT NULL,
	[NouveauPrixAchat] [decimal](18, 2) NOT NULL,
	[AncienPrixDemi] [decimal](18, 2) NOT NULL,
	[NouveauPrixDemi] [decimal](18, 2) NOT NULL,
	[AncienPrixQuart] [decimal](18, 2) NOT NULL,
	[NouveauPrixQuart] [decimal](18, 2) NOT NULL,
	[AncienPrixDouzaine] [decimal](18, 2) NOT NULL,
	[NouveauPrixDouzaine] [decimal](18, 2) NOT NULL,
	[AncienPrixSpecial] [decimal](18, 2) NOT NULL,
	[NouveauPrixSpecial] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoriquePrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JournalAudit]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalAudit](
	[AuditId] [bigint] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Entite] [nvarchar](100) NOT NULL,
	[EntiteId] [nvarchar](50) NOT NULL,
	[Details] [nvarchar](1000) NULL,
	[EffectuePar] [int] NOT NULL,
	[EffectueLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JournalFraude]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JournalFraude](
	[FraudeId] [bigint] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[Details] [nvarchar](1000) NULL,
	[EffectuePar] [int] NOT NULL,
	[EffectueLe] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FraudeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LignesFactureVente]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LignesFactureVente](
	[LigneFactureVenteId] [int] IDENTITY(1,1) NOT NULL,
	[FactureVenteId] [int] NOT NULL,
	[ProduitId] [int] NOT NULL,
	[Quantite] [decimal](18, 2) NOT NULL,
	[PrixUnitaire] [decimal](18, 2) NOT NULL,
	[MontantRemise] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[MontantLigne] [decimal](18, 2) NOT NULL,
	[TypeVente] [nvarchar](50) NULL,
	[QuantiteBase] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[QuantiteSaisie] [decimal](18, 2) NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[LigneFactureVenteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MotifSortie]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotifSortie](
	[MotifId] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](100) NOT NULL,
	[Nature] [nvarchar](50) NULL,
	[ImpactFinancier] [nvarchar](50) NULL,
	[EstActif] [bit] NOT NULL DEFAULT ((1)),
	[DateCreation] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[MotifId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MouvementSequence]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MouvementSequence](
	[AnneeMois] [char](6) NOT NULL,
	[DernierNumero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnneeMois] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MouvementsStock]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MouvementsStock](
	[MouvementStockId] [int] IDENTITY(1,1) NOT NULL,
	[ProduitId] [int] NOT NULL,
	[TypeMouvement] [nvarchar](30) NOT NULL,
	[Quantite] [decimal](18, 2) NOT NULL,
	[Reference] [nvarchar](100) NULL,
	[EffectuePar] [int] NOT NULL,
	[EffectueLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[ModifierPar] [nvarchar](80) NULL,
	[NumeroMouvement] [nvarchar](30) NULL,
	[QuantiteBase] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[Unite] [nvarchar](50) NULL,
	[StockAvant] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[StockApres] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[Observation] [nvarchar](200) NULL,
	[TypePerte] [nvarchar](50) NULL,
	[EstAnnule] [bit] NOT NULL DEFAULT ((0)),
	[AnnulePar] [int] NULL,
	[AnnuleLe] [datetime] NULL,
	[AnnulationRef] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[MouvementStockId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[CreeLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[Lue] [bit] NOT NULL DEFAULT ((0)),
	[TypeNotification] [nvarchar](30) NOT NULL DEFAULT ('Info'),
	[CleNotification] [nvarchar](150) NULL,
	[EcranCible] [nvarchar](80) NULL,
	[DonneesCible] [nvarchar](150) NULL,
	[CompteurOccurrences] [int] NOT NULL DEFAULT ((1)),
	[EstGroupee] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Paiements]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paiements](
	[PaiementId] [int] IDENTITY(1,1) NOT NULL,
	[FactureVenteId] [int] NOT NULL,
	[ModePaiement] [nvarchar](30) NOT NULL,
	[ReferencePaiement] [nvarchar](100) NULL,
	[Montant] [decimal](18, 2) NOT NULL,
	[PayePar] [int] NOT NULL,
	[PayeLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[MontantRecu] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[MonnaieRendue] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[Devise] [nvarchar](10) NULL,
	[ModifierPar] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaiementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Parametres]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parametres](
	[ParametreId] [int] IDENTITY(1,1) NOT NULL,
	[RemiseMaxPourcent] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[SeuilStockCritique] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[AlerteExpirationJours] [int] NOT NULL DEFAULT ((30)),
	[ImprimanteA4] [nvarchar](200) NULL,
	[ImprimanteTicket] [nvarchar](200) NULL,
	[DeviseParDefaut] [nvarchar](10) NOT NULL DEFAULT ('FC'),
	[TauxUsd] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[ScannerIp] [nvarchar](50) NULL,
	[ScannerPort] [int] NOT NULL DEFAULT ((9000)),
	[ScannerActif] [bit] NOT NULL DEFAULT ((0)),
	[ModeSombre] [bit] NULL,
	[NomMagasin] [nvarchar](200) NULL,
	[AdresseMagasin] [nvarchar](300) NULL,
	[TelephoneMagasin] [nvarchar](50) NULL,
	[LogoPath] [nvarchar](300) NULL,
	[ApercuAvantImpression] [bit] NOT NULL DEFAULT ((0)),
	[ImpressionCouleur] [bit] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ParametreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Produits]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produits](
	[ProduitId] [int] IDENTITY(1,1) NOT NULL,
	[CodeBarres] [nvarchar](50) NOT NULL,
	[Libelle] [nvarchar](200) NOT NULL,
	[PrixDetail] [decimal](18, 2) NOT NULL,
	[PrixGros] [decimal](18, 2) NOT NULL,
	[DateExpiration] [date] NULL,
	[CategorieId] [int] NULL,
	[EstActif] [bit] NOT NULL DEFAULT ((1)),
	[CreeLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[ModifieLe] [datetime2](7) NULL,
	[PrixDemi] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[PrixDouzaine] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[SeuilCritique] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[VenteDetail] [bit] NOT NULL DEFAULT ((1)),
	[VenteDemi] [bit] NOT NULL DEFAULT ((0)),
	[VenteDouzaine] [bit] NOT NULL DEFAULT ((0)),
	[VenteGros] [bit] NOT NULL DEFAULT ((0)),
	[ModifierPar] [nvarchar](80) NULL,
	[PrixQuart] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[PrixSpecial] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[UnitePrincipale] [nvarchar](50) NULL,
	[UniteSecondaire] [nvarchar](50) NULL,
	[ConversionUnite] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[PrixAchat] [decimal](18, 2) NOT NULL DEFAULT ((0)),
	[CoefficientGros] [decimal](18, 4) NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ProduitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodeBarres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[NomRole] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockEntree]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockEntree](
	[StockEntreeId] [int] IDENTITY(1,1) NOT NULL,
	[IdStock] [nvarchar](30) NOT NULL,
	[ProduitId] [int] NOT NULL,
	[QuantiteSaisie] [decimal](18, 2) NOT NULL,
	[Unite] [nvarchar](50) NULL,
	[QuantiteBase] [decimal](18, 2) NOT NULL,
	[PrixAchat] [decimal](18, 2) NOT NULL,
	[Devise] [nvarchar](10) NULL,
	[Taux] [decimal](18, 6) NOT NULL DEFAULT ((0)),
	[DateEntree] [datetime] NOT NULL DEFAULT (getdate()),
	[FournisseurId] [int] NULL,
	[CreePar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockEntreeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockInventaire]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockInventaire](
	[StockInventaireId] [int] IDENTITY(1,1) NOT NULL,
	[ProduitId] [int] NOT NULL,
	[StockTheorique] [decimal](18, 2) NOT NULL,
	[StockReel] [decimal](18, 2) NOT NULL,
	[Ecart] [decimal](18, 2) NOT NULL,
	[DateInventaire] [datetime] NOT NULL DEFAULT (getdate()),
	[CreePar] [int] NULL,
	[Observation] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockInventaireId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockPerte]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockPerte](
	[StockPerteId] [int] IDENTITY(1,1) NOT NULL,
	[ProduitId] [int] NOT NULL,
	[QuantiteSaisie] [decimal](18, 2) NOT NULL,
	[Unite] [nvarchar](50) NULL,
	[QuantiteBase] [decimal](18, 2) NOT NULL,
	[TypePerte] [nvarchar](50) NULL,
	[Motif] [nvarchar](200) NULL,
	[DatePerte] [datetime] NOT NULL,
	[CreePar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StockPerteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StockSequence]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockSequence](
	[Prefix] [nvarchar](10) NOT NULL,
	[AnneeMois] [char](6) NOT NULL,
	[DernierNumero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Prefix] ASC,
	[AnneeMois] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockSortie]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockSortie](
	[StockSortieId] [int] IDENTITY(1,1) NOT NULL,
	[ProduitId] [int] NOT NULL,
	[QuantiteSaisie] [decimal](18, 2) NOT NULL,
	[Unite] [nvarchar](50) NULL,
	[QuantiteBase] [decimal](18, 2) NOT NULL,
	[DateSortie] [datetime] NOT NULL DEFAULT (getdate()),
	[Source] [nvarchar](50) NOT NULL,
	[RefSource] [nvarchar](50) NULL,
	[CreePar] [int] NULL,
	[NumeroSortie] [nvarchar](50) NULL,
	[ClientId] [int] NULL,
	[MotifId] [int] NULL,
	[TypeVente] [nvarchar](50) NULL,
	[PrixUnitaire] [decimal](18, 2) NULL,
	[MontantLigne] [decimal](18, 2) NULL,
	[StatutPaiement] [nvarchar](50) NULL,
	[MontantPaye] [decimal](18, 2) NULL,
	[ResteAPayer] [decimal](18, 2) NULL,
	[Observation] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[StockSortieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UtilisateurRoles]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilisateurRoles](
	[UtilisateurId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UtilisateurId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[UtilisateurId] [int] IDENTITY(1,1) NOT NULL,
	[NomUtilisateur] [nvarchar](80) NOT NULL,
	[MotDePasseHash] [varbinary](256) NOT NULL,
	[MotDePasseSel] [varbinary](128) NOT NULL,
	[EstActif] [bit] NOT NULL DEFAULT ((1)),
	[CreeLe] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
PRIMARY KEY CLUSTERED 
(
	[UtilisateurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NomUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UtilisateurSessions]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UtilisateurSessions](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[UtilisateurId] [int] NOT NULL,
	[Debut] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[DernierPing] [datetime2](7) NOT NULL DEFAULT (sysutcdatetime()),
	[Fin] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vStockProduit]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vStockProduit] AS SELECT p.ProduitId, ISNULL(e.Entree,0) - ISNULL(s.Sortie,0) - ISNULL(pr.Perte,0) AS QuantiteStock FROM dbo.Produits p LEFT JOIN (SELECT ProduitId, SUM(QuantiteBase) AS Entree FROM dbo.StockEntree GROUP BY ProduitId) e ON e.ProduitId = p.ProduitId LEFT JOIN (SELECT ProduitId, SUM(QuantiteBase) AS Sortie FROM dbo.StockSortie GROUP BY ProduitId) s ON s.ProduitId = p.ProduitId LEFT JOIN (SELECT ProduitId, SUM(QuantiteBase) AS Perte FROM dbo.StockPerte GROUP BY ProduitId) pr ON pr.ProduitId = p.ProduitId
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ix_factvente_statut_date]    Script Date: 15/05/2026 05:06:38 ******/
CREATE NONCLUSTERED INDEX [ix_factvente_statut_date] ON [dbo].[FacturesVente]
(
	[Statut] ASC,
	[CreeLe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ix_mouvstock_produit_date]    Script Date: 15/05/2026 05:06:38 ******/
CREATE NONCLUSTERED INDEX [ix_mouvstock_produit_date] ON [dbo].[MouvementsStock]
(
	[ProduitId] ASC,
	[EffectueLe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ix_produits_codebarres]    Script Date: 15/05/2026 05:06:38 ******/
CREATE NONCLUSTERED INDEX [ix_produits_codebarres] ON [dbo].[Produits]
(
	[CodeBarres] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ix_produits_libelle]    Script Date: 15/05/2026 05:06:38 ******/
CREATE NONCLUSTERED INDEX [ix_produits_libelle] ON [dbo].[Produits]
(
	[Libelle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FacturesFournisseurs] ADD  DEFAULT (sysutcdatetime()) FOR [CreeLe]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT (sysutcdatetime()) FOR [ModifieLe]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [AncienPrixAchat]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [NouveauPrixAchat]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [AncienPrixDemi]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [NouveauPrixDemi]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [AncienPrixQuart]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [NouveauPrixQuart]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [AncienPrixDouzaine]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [NouveauPrixDouzaine]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [AncienPrixSpecial]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] ADD  DEFAULT ((0)) FOR [NouveauPrixSpecial]
GO
ALTER TABLE [dbo].[JournalFraude] ADD  DEFAULT (sysutcdatetime()) FOR [EffectueLe]
GO
ALTER TABLE [dbo].[StockPerte] ADD  DEFAULT (getdate()) FOR [DatePerte]
GO
ALTER TABLE [dbo].[BonApprovisionnementLignes]  WITH CHECK ADD  CONSTRAINT [fk_bonligne_bon] FOREIGN KEY([BonId])
REFERENCES [dbo].[BonsApprovisionnement] ([BonId])
GO
ALTER TABLE [dbo].[BonApprovisionnementLignes] CHECK CONSTRAINT [fk_bonligne_bon]
GO
ALTER TABLE [dbo].[FacturesFournisseurs]  WITH CHECK ADD  CONSTRAINT [fk_factfourn_fournisseur] FOREIGN KEY([FournisseurId])
REFERENCES [dbo].[Fournisseurs] ([FournisseurId])
GO
ALTER TABLE [dbo].[FacturesFournisseurs] CHECK CONSTRAINT [fk_factfourn_fournisseur]
GO
ALTER TABLE [dbo].[FacturesFournisseurs]  WITH CHECK ADD  CONSTRAINT [fk_factfourn_utilisateur] FOREIGN KEY([CreePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[FacturesFournisseurs] CHECK CONSTRAINT [fk_factfourn_utilisateur]
GO
ALTER TABLE [dbo].[FacturesVente]  WITH CHECK ADD  CONSTRAINT [fk_factvente_client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[FacturesVente] CHECK CONSTRAINT [fk_factvente_client]
GO
ALTER TABLE [dbo].[FacturesVente]  WITH CHECK ADD  CONSTRAINT [fk_factvente_utilisateur] FOREIGN KEY([CreePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[FacturesVente] CHECK CONSTRAINT [fk_factvente_utilisateur]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits]  WITH CHECK ADD  CONSTRAINT [fk_histprix_produit] FOREIGN KEY([ProduitId])
REFERENCES [dbo].[Produits] ([ProduitId])
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] CHECK CONSTRAINT [fk_histprix_produit]
GO
ALTER TABLE [dbo].[HistoriquePrixProduits]  WITH CHECK ADD  CONSTRAINT [fk_histprix_utilisateur] FOREIGN KEY([ModifiePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[HistoriquePrixProduits] CHECK CONSTRAINT [fk_histprix_utilisateur]
GO
ALTER TABLE [dbo].[JournalAudit]  WITH CHECK ADD  CONSTRAINT [fk_audit_utilisateur] FOREIGN KEY([EffectuePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[JournalAudit] CHECK CONSTRAINT [fk_audit_utilisateur]
GO
ALTER TABLE [dbo].[JournalFraude]  WITH CHECK ADD  CONSTRAINT [fk_fraude_utilisateur] FOREIGN KEY([EffectuePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[JournalFraude] CHECK CONSTRAINT [fk_fraude_utilisateur]
GO
ALTER TABLE [dbo].[LignesFactureVente]  WITH CHECK ADD  CONSTRAINT [fk_lignefact_facture] FOREIGN KEY([FactureVenteId])
REFERENCES [dbo].[FacturesVente] ([FactureVenteId])
GO
ALTER TABLE [dbo].[LignesFactureVente] CHECK CONSTRAINT [fk_lignefact_facture]
GO
ALTER TABLE [dbo].[LignesFactureVente]  WITH CHECK ADD  CONSTRAINT [fk_lignefact_produit] FOREIGN KEY([ProduitId])
REFERENCES [dbo].[Produits] ([ProduitId])
GO
ALTER TABLE [dbo].[LignesFactureVente] CHECK CONSTRAINT [fk_lignefact_produit]
GO
ALTER TABLE [dbo].[MouvementsStock]  WITH CHECK ADD  CONSTRAINT [fk_mouvstock_produit] FOREIGN KEY([ProduitId])
REFERENCES [dbo].[Produits] ([ProduitId])
GO
ALTER TABLE [dbo].[MouvementsStock] CHECK CONSTRAINT [fk_mouvstock_produit]
GO
ALTER TABLE [dbo].[MouvementsStock]  WITH CHECK ADD  CONSTRAINT [fk_mouvstock_utilisateur] FOREIGN KEY([EffectuePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[MouvementsStock] CHECK CONSTRAINT [fk_mouvstock_utilisateur]
GO
ALTER TABLE [dbo].[Paiements]  WITH CHECK ADD  CONSTRAINT [fk_paiement_facture] FOREIGN KEY([FactureVenteId])
REFERENCES [dbo].[FacturesVente] ([FactureVenteId])
GO
ALTER TABLE [dbo].[Paiements] CHECK CONSTRAINT [fk_paiement_facture]
GO
ALTER TABLE [dbo].[Paiements]  WITH CHECK ADD  CONSTRAINT [fk_paiement_utilisateur] FOREIGN KEY([PayePar])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[Paiements] CHECK CONSTRAINT [fk_paiement_utilisateur]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [fk_produits_categorie] FOREIGN KEY([CategorieId])
REFERENCES [dbo].[CategoriesProduits] ([CategorieId])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [fk_produits_categorie]
GO
ALTER TABLE [dbo].[StockSortie]  WITH CHECK ADD  CONSTRAINT [FK_StockSortie_Clients] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Clients] ([ClientId])
GO
ALTER TABLE [dbo].[StockSortie] CHECK CONSTRAINT [FK_StockSortie_Clients]
GO
ALTER TABLE [dbo].[StockSortie]  WITH CHECK ADD  CONSTRAINT [FK_StockSortie_MotifSortie] FOREIGN KEY([MotifId])
REFERENCES [dbo].[MotifSortie] ([MotifId])
GO
ALTER TABLE [dbo].[StockSortie] CHECK CONSTRAINT [FK_StockSortie_MotifSortie]
GO
ALTER TABLE [dbo].[UtilisateurRoles]  WITH CHECK ADD  CONSTRAINT [fk_utilisateurroles_role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[UtilisateurRoles] CHECK CONSTRAINT [fk_utilisateurroles_role]
GO
ALTER TABLE [dbo].[UtilisateurRoles]  WITH CHECK ADD  CONSTRAINT [fk_utilisateurroles_utilisateur] FOREIGN KEY([UtilisateurId])
REFERENCES [dbo].[Utilisateurs] ([UtilisateurId])
GO
ALTER TABLE [dbo].[UtilisateurRoles] CHECK CONSTRAINT [fk_utilisateurroles_utilisateur]
GO
ALTER TABLE [dbo].[FacturesFournisseurs]  WITH CHECK ADD  CONSTRAINT [ck_factfourn_montant] CHECK  (([MontantTotal]>=(0)))
GO
ALTER TABLE [dbo].[FacturesFournisseurs] CHECK CONSTRAINT [ck_factfourn_montant]
GO
ALTER TABLE [dbo].[FacturesVente]  WITH CHECK ADD  CONSTRAINT [ck_factvente_montants] CHECK  (([SousTotal]>=(0) AND [MontantRemise]>=(0) AND [MontantTaxe]>=(0) AND [MontantTotal]>=(0)))
GO
ALTER TABLE [dbo].[FacturesVente] CHECK CONSTRAINT [ck_factvente_montants]
GO
ALTER TABLE [dbo].[FacturesVente]  WITH CHECK ADD  CONSTRAINT [ck_factvente_statut] CHECK  (([Statut]='ANNULEE' OR [Statut]='PAYEE' OR [Statut]='EN_ATTENTE'))
GO
ALTER TABLE [dbo].[FacturesVente] CHECK CONSTRAINT [ck_factvente_statut]
GO
ALTER TABLE [dbo].[LignesFactureVente]  WITH CHECK ADD  CONSTRAINT [ck_lignefact_prix] CHECK  (([PrixUnitaire]>=(0) AND [MontantRemise]>=(0) AND [MontantLigne]>=(0)))
GO
ALTER TABLE [dbo].[LignesFactureVente] CHECK CONSTRAINT [ck_lignefact_prix]
GO
ALTER TABLE [dbo].[LignesFactureVente]  WITH CHECK ADD  CONSTRAINT [ck_lignefact_qte] CHECK  (([Quantite]>(0)))
GO
ALTER TABLE [dbo].[LignesFactureVente] CHECK CONSTRAINT [ck_lignefact_qte]
GO
ALTER TABLE [dbo].[MouvementsStock]  WITH CHECK ADD  CONSTRAINT [ck_mouvstock_quantite] CHECK  (([Quantite]>(0)))
GO
ALTER TABLE [dbo].[MouvementsStock] CHECK CONSTRAINT [ck_mouvstock_quantite]
GO
ALTER TABLE [dbo].[Paiements]  WITH CHECK ADD  CONSTRAINT [ck_paiement_montant] CHECK  (([Montant]>(0)))
GO
ALTER TABLE [dbo].[Paiements] CHECK CONSTRAINT [ck_paiement_montant]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [ck_produits_prix] CHECK  (([PrixDetail]>=(0) AND [PrixGros]>=(0)))
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [ck_produits_prix]
GO
/****** Object:  StoredProcedure [dbo].[sp_ajouter_ligne_facture]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ajouter_ligne_facture]
    @FactureVenteId INT,
    @ProduitId INT,
    @Quantite DECIMAL(18,2),
    @PrixUnitaire DECIMAL(18,2),
    @MontantRemise DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Produits WHERE ProduitId = @ProduitId AND QuantiteStock < @Quantite)
    BEGIN
        RAISERROR('Stock insuffisant pour ce produit.', 16, 1);
        RETURN;
    END

    INSERT INTO LignesFactureVente (FactureVenteId, ProduitId, Quantite, PrixUnitaire, MontantRemise, MontantLigne)
    VALUES (@FactureVenteId, @ProduitId, @Quantite, @PrixUnitaire, @MontantRemise, (@Quantite * @PrixUnitaire) - @MontantRemise);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_creer_facture_vente]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedures stockees (extraits)
CREATE PROCEDURE [dbo].[sp_creer_facture_vente]
    @NumeroFacture NVARCHAR(50),
    @ClientId INT = NULL,
    @SousTotal DECIMAL(18,2),
    @MontantRemise DECIMAL(18,2),
    @MontantTaxe DECIMAL(18,2),
    @MontantTotal DECIMAL(18,2),
    @CreePar INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO FacturesVente (NumeroFacture, ClientId, SousTotal, MontantRemise, MontantTaxe, MontantTotal, Statut, CreePar)
    VALUES (@NumeroFacture, @ClientId, @SousTotal, @MontantRemise, @MontantTaxe, @MontantTotal, 'EN_ATTENTE', @CreePar);
END

GO
/****** Object:  StoredProcedure [dbo].[sp_entree_stock]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_entree_stock]
    @ProduitId INT,
    @Quantite DECIMAL(18,2),
    @Reference NVARCHAR(100),
    @EffectuePar INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    UPDATE Produits
    SET QuantiteStock = QuantiteStock + @Quantite, ModifieLe = SYSUTCDATETIME()
    WHERE ProduitId = @ProduitId;

    INSERT INTO MouvementsStock (ProduitId, TypeMouvement, Quantite, Reference, EffectuePar)
    VALUES (@ProduitId, 'ENTREE', @Quantite, @Reference, @EffectuePar);

    COMMIT TRAN;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_valider_paiement]    Script Date: 15/05/2026 05:06:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_valider_paiement]
    @FactureVenteId INT,
    @ModePaiement NVARCHAR(30),
    @ReferencePaiement NVARCHAR(100) = NULL,
    @Montant DECIMAL(18,2),
    @PayePar INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRAN;

    IF EXISTS (
        SELECT 1
        FROM LignesFactureVente l
        JOIN Produits p ON p.ProduitId = l.ProduitId
        WHERE l.FactureVenteId = @FactureVenteId
        GROUP BY l.ProduitId, p.QuantiteStock
        HAVING p.QuantiteStock < SUM(l.Quantite)
    )
    BEGIN
        ROLLBACK TRAN;
        RAISERROR('Stock insuffisant pour valider le paiement.', 16, 1);
        RETURN;
    END

    INSERT INTO Paiements (FactureVenteId, ModePaiement, ReferencePaiement, Montant, PayePar)
    VALUES (@FactureVenteId, @ModePaiement, @ReferencePaiement, @Montant, @PayePar);

    -- Sortie stock selon lignes de facture
    INSERT INTO MouvementsStock (ProduitId, TypeMouvement, Quantite, Reference, EffectuePar)
    SELECT l.ProduitId, 'SORTIE', l.Quantite, CONCAT('FACTURE:', @FactureVenteId), @PayePar
    FROM LignesFactureVente l
    WHERE l.FactureVenteId = @FactureVenteId;

    UPDATE p
    SET p.QuantiteStock = p.QuantiteStock - l.Quantite,
        p.ModifieLe = SYSUTCDATETIME()
    FROM Produits p
    JOIN LignesFactureVente l ON p.ProduitId = l.ProduitId
    WHERE l.FactureVenteId = @FactureVenteId;

    UPDATE FacturesVente
    SET Statut = 'PAYEE', ValideLe = SYSUTCDATETIME()
    WHERE FactureVenteId = @FactureVenteId AND Statut = 'EN_ATTENTE';

    COMMIT TRAN;
END

GO
USE [master]
GO
